apiVersion: v1
kind: Service
metadata:
  name: sonarqube-service
spec:
  type: NodePort
  selector:
    app: sonarqube
  ports:
    - port: 9000       # port dans le pod
      targetPort: 9000 # port exposé
      nodePort: 30090  # port pour accéder depuis l'extérieur
